{% extends 'base.html.twig' %}

{% block title %}YoutubeDownload :: Downloads
{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger mt-1" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-1" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h1 class="mt-4">Downloads</h1>
    <div class="d-flex justify-content-between mb-2">
        <a class="btn btn-outline-success" href="{{ path('ui_youtube_download_index') }}">+ Add new download</a>
        {% if sources is not empty %}
            {{ include('ui/source/_delete_all_form.html.twig') }}
        {% endif %}
    </div>
    <div class="text-center mt-4">
        <span class="fw-bold">In queue: {{ totalPending }}</span> |
        <span class="fw-bold">In progress: {{ totalInProgress }}</span>
    </div>
    {% if sources is not empty %}
        <div class="col-sm-3 col-md-2 col-lg-1">
            <div>
                <label for="sort_by_select"></label>
                <select id="sort_by_select"
                        onchange="location.search.includes('order') ? location.search = location.search.replace(/order=\w+/, this.value) : location.search += '&' + this.value"
                        class="form-select form-select-sm">
                    <option {{ (order=='asc' ) ? 'selected' : '' }} value="order=asc">Date &#8595;</option>
                    <option {{ (order=='desc' ) ? 'selected' : '' }} value="order=desc">Date &#8593;</option>
                </select>
            </div>
        </div>
    {% endif %}
    <div class="table-responsive-lg">
        <table class="table table-sm">
            <thead class="text-center">
            <tr>
                <th>No</th>
                <th>Filename</th>
                <th>Size</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for source in sources %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ source.filename }}</td>
                    <td class="text-center">{{ source.size|readable_filesize(2) }}</td>
                    <td class="d-grid gap-2 text-center">
                        <div>
                            <a class="btn btn-primary" href="{{ path('ui_source_download', {'id': source.id}) }}">📂</a>
                        </div>
                        <div>
                            <a class="btn btn-secondary" href="{{ path('ui_source_show', {'id': source.id}) }}">👁</a>
                        </div>
                        <div>
                            <a class="btn btn-warning" href="{{ path('ui_source_edit', {'id': source.id}) }}">🖊</a>
                        </div>
                        {{ include('ui/source/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="text-center" colspan="8">No records found...</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
